html,
body {
    box-sizing: border-box;

    line-height: 1;
}

*,
*::before,
*::after {
    box-sizing: inherit;

    outline: none;
    border: 0;

    padding: 0;
    margin: 0;
}

ul[class] {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    font: inherit;
}

input {
    font: inherit;
    color: inherit;

    background-color: transparent;
}

input::placeholder {
    font: inherit;
    color: inherit;
}

button {
    font: inherit;
    color: inherit;

    background-color: transparent;
    border: none;

    cursor: pointer;
}