body {
	font-size: 16px;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	
	color: #ffffff;
	background-color: #121619;
}

input::placeholder {
	opacity: 0.3;
}

:root {
	--user-item-background: #1D2125;

	--green: #32B290;
	--green-active: #208b6f;

	--red: #CB4041;
	--red-active: #a11f1f;
}


.container {
	max-width: 1140px;
	
	padding: 0 20px;
	margin: 0 auto;
}

.button {
	width: 100%;
	height: 40px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 16px;
	border-radius: 20px;

	padding: 0 50px;
}

.button_green {
	background-color: var(--green);

	transition: .5s;
}

.button_green:hover {
	background-color: var(--green-active);
}

.button_red {
	background-color: var(--red);

	transition: .5s;
}

.button_red:hover {
	background-color: var(--red-active);
}


.users-page {
	padding: 100px 0;
}

.users-page__title {
	font-family: 'Rubik', sans-serif;
}

.users-page__title_main {
	font-size: 36px;
	
	margin-bottom: 50px;
}

.users-page__title_mini {
	font-size: 24px;

	margin-bottom: 30px;
}

.users-page__item-box {
	display: flex;
	flex-direction: column;

	row-gap: 30px;

	margin-bottom: 70px;
}

.user-item {
	display: flex;
	justify-content: space-between;
	align-items: center;

	column-gap: 50px;

	background-color: var(--user-item-background);
	border-radius: 15px;

	padding: 30px 40px;
}

.user-item__input-box {
	max-width: 350px;
	width: 100%;

	display: flex;
	flex-direction: column;

	row-gap: 10px;
}

.user-item__input-wrapper {
	display: flex;
	flex-direction: column;

	row-gap: 2px;
}

.user-item__name {
	width: 100%;

	font-size: 18px;
	font-weight: 700;

	opacity: 0.7;
}

.user-item__phone {
	width: 100%;

	font-size: 18px;
	opacity: 0.7;
}

.user-item__name[readonly],
.user-item__phone[readonly],
.users-page__new-user .user-item__name,
.users-page__new-user .user-item__phone {
	opacity: 1;
}

.user-item__validation-error {
	font-size: 14px;
	color: var(--red);
}

.user-item__button-box {
	display: flex;

	column-gap: 30px;
}